HERMES_MODE=dev
HERMES_ZOHO_XLSX_URL=https://sheet.zohopublic.com/sheet/published/w0yyac483bf4377414680872e6205cd34447b?download=xlsx
HERMES_ZOHO_SHEET_NAME=Client BY agent
HERMES_CMP_URL=https://cmp-front.production.united-fuel.com
HERMES_TARGET_COMPANY=

HERMES_CHROME_PATH=C:/Program Files/Google/Chrome/Application/chrome.exe
HERMES_CHROME_USER_DATA_DIR=C:/Users/AndresMendez/AppData/Local/Google/Chrome/User Data
HERMES_CHROME_PROFILE_DIR=Profile 8
HERMES_CHROME_DEBUG_PORT=9222

HERMES_SUPABASE_URL=
HERMES_SUPABASE_SERVICE_ROLE_KEY=
